html,body{
    height: 100%;
}
body {
    color: #333333;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 16px;
}
input:focus, select:focus{
    outline: none !important;
    box-shadow: none !important;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
    font-weight: 400;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
a,button{
    transition:ease 0.3s; 
    -webkit-transition:ease 0.3s; 
    -moz-transition:ease 0.3s; 
    text-decoration:none !important;
    outline:none !important;
    color: inherit;
}
input[type="submit"]{
    transition:ease 0.3s; 
    -webkit-transition:ease 0.3s; 
    -moz-transition:ease 0.3s; 
    text-decoration:none !important;
    outline:none !important;
}
::-moz-input-placeholder, ::-moz-placeholder {
    opacity: 1;
    color: inherit;
}
::-webkit-input-placeholder, ::-webkit-placeholder{
    opacity: 1;
    color: inherit;
}
input-placeholder, placeholder {
    opacity: 1;
    color: inherit;
}


.sidebar{
    width: 300px;
    position: fixed;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    top: 0;
    left: 0;
    background: #999999;
    color: #fff;
}
.main-img{
    max-width: 300px;
}
.main-img img{
    max-width: 100%;
}
.profile-options li{
    background: #fff;
    display: inline-flex;
    width: 100%;
    align-items: center;
}
.profile-options li ~ li{
    margin-top: 20px;
}
.profile-options li p{
    color: #333;
    display: inline-block
}
.profile-options li span.fa{
    background: #666666;
    height: 30px;
    text-align: center;
    font-size: 18px;
    line-height: 28px;
    width: 40px;
    position: relative;
    z-index: 0;
    margin-right: 20px;
}
.profile-options li span.fa:after{
    content: "";
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 30px solid #666;
    width: 20px;
    height: 100%;
    position: absolute;
    top: 0;
    right: -20px;
    z-index: -1;
}
.profile-options h4{
    text-transform: uppercase;
    text-align: center;
    margin: 30px 0 10px;
}


.skillbar {
	position:relative;
	display:block;
	margin-bottom:15px;
	width:100%;
	background:#eee;
	height:30px;
}

.skillbar-title {
	position:absolute;
	top:0;
	left:0;
        width:110px;
	font-weight:bold;
	font-size:13px;
	color:#ffffff;
    z-index: 99;
}

.skillbar-title span {
	display:block;
	padding:0 10px;
	height:30px;
	line-height:30px;
}

.skillbar-bar {
	height:30px;
	width:0px;
    border-radius: 0 20px 20px 0;
    overflow: hidden;
    position: relative;
    z-index: 0;
}
.skillbar-bar:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:  linear-gradient(45deg,#666666 25%,#999999 25%,#999999 50%,#666666 50%,#666666 75%,#999999 75%,#999999);
        background-size: 40px 40px;
    box-shadow: inset rgba(0,0,0,0.3) 0 0 10px, inset rgba(255,255,255,0.4) 0 -5px 10px;
    animation: progress-bar-stripes 2s linear infinite;
    z-index: -1;
}

.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:14px;
	height:30px;
	line-height:30px;
	color:#ffffff;
	color:rgba(0, 0, 0, 0.4);
}
.html{
    width: 85%;
    animation: html ease 2s;
    animation-fill-mode: backwards;
}
.css{
    width: 82%;
    animation: css ease 2s;
    animation-fill-mode: backwards;
}
.bootstrap{
    width: 80%;
    animation: bootstrap ease 2s;
    animation-fill-mode: backwards;
}
.jquery{
    width: 70%;
    animation: jquery ease 2s;
    animation-fill-mode: backwards;
}
@keyframes html{
    0%{
        width: 0;
    }
    100%{
        width: 85%;
    }
}
@keyframes css{
    from{
        width: 0;
    }
    to{
        width: 82%;
    }
}
@keyframes bootstrap{
    from{
        width: 0;
    }
    to{
        width: 80%;
    }
}
@keyframes jquery{
    from{
        width: 0;
    }
    to{
        width: 70%;
    }
}
@keyframes progress-bar-stripes{
    0% {
        background-position: -40px 0;
    }
    100% {
        background-position: 0 0;
    }
}


.profile-options{
    margin-bottom: 30px;
}
.main-container{
    width: calc(100% - 300px);
    float: right;
    padding-left: 30px;
}
.container-inner{
    padding: 30px 0;
    max-width: 800px;
    width: 100%;
}
.information-box strong{
    min-width: 200px;
    float: left;
}
.information-box strong:after{
    content: ":";
    display: block;
    float: right;
    margin-right: 15px;
}
.information-box p{
    
}
.information-box p span{
    display: block;
    font-size: 14px;
    opacity: 0.7;
}
h1.name{
    text-transform: uppercase;
}
.bio{
    margin: 10px 0 20px;
}
.courses li{
    display: inline-flex;
    flex-flow: row nowrap;
    width: 100%;
}
.main-heading{
    display: inline-block;
    background: #666;
    color: #fff;
    padding: 0 20px;
    min-height: 40px;
    line-height: 40px;
    position: relative;
    margin-bottom: 15px;
}
.main-heading:after{
    content: "";
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 40px solid #666;
    width: 20px;
    height: 100%;
    position: absolute;
    top: 0;
    right: -20px;
    z-index: -1;
}
.information-box li ~ li{
    margin-top: 10px;
}
.information-box{
    margin-bottom: 30px;
}
.social-info{
    padding: 0 20px;
    text-align: center;
}
.social-info a{
    width: 40px;
    height: 40px;
    line-height: 38px;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    border-bottom: transparent 3px solid;
    transition: ease 0.1s;
    box-shadow: rgba(0,0,0,0.5) 2px 2px 1px;
    transform: translate(-2px,-2px);
    font-size: 18px;
    margin: 0 3px;
}
.social-info a:hover, .social-info a:focus {
    box-shadow: rgba(0,0,0,0.5) 0px 0px 2px;
    transform: translate(0,0);
    color: #fff;
}
a.fb {
    background: #4769a5;
    border-bottom-color: #3c598c;
}   
a.gp {
    background: #bb3526;
    border-bottom-color: #964211;
}
a.linkedin {
    background: #2ba2df;
    border-bottom-color: #258bbf;
}
a.pint {
    background: #cd252b;
    border-bottom-color: #b22025;
}

.work-outer{
    margin: 0 -10px;
}
.work-outer ul{
    display: inline-flex;
    flex-flow: row wrap;
    width: 100%;
    align-items: flex-start;
}
.work-outer li{
    flex: 0 0 25%;
    float: left;
    padding: 0 10px;
    margin-bottom: 20px;
}
.work-outer li a{
    position: relative;
    display: block;
    overflow: hidden;
}
.work-outer li img{
    max-width: 100%;
    -webkit-transition: ease 0.5s;
    -moz-transition: ease 0.5s;
    transition: ease 0.5s;
}
.work-detail{
    background: rgba(102,102,102,0.8);
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    -webkit-transition: ease 0.5s;
    -moz-transition: ease 0.5s;
    transition: ease 0.5s;
}
.work-outer li:hover .work-detail{
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
    transform-origin: 50% 50%;
}
.work-outer li:hover img{
     -webkit-transform: scale(1.2) rotate(-5deg);
    -moz-transform: scale(1.2) rotate(-5deg);
    transform: scale(1.2) rotate(-5deg);
}



